@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Delicious Handrawn', cursive;
    }
}

.main {
  height: 100vh;
  background: rgb(0,10,31);
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styling for individual dice buttons */
.dice {
  height: 50px;
  width: 50px;
  font-size: 36px;
  background: whitesmoke;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.dice:hover{
  transform: scale(1.2);
  background: rgb(118,255,122);
}

.dice-held {
  background: rgb(118,255,122);
}

